Source: gedit-rails-extensions
Maintainer: Maikel Linke <mkllnk@web.de>
Section: gnome
Priority: extra
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: gedit-rails-extensions
Architecture: all
Depends: gedit, shared-mime-info
Description: Adds rails syntax highlighting to gedit
 gedit-rails-extensions adds a MIME package and syntax files (.lang) for working with Ruby on Rails.
